<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<div class="image-aboutus-banner" style="margin-top:70px">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="lg-text">Jobs at 321gocheck</h1>
				<p class="image-aboutus-para">321gocheck is a global technology company whose aim is to be the world’s trusted identity system. Founded in 2014, our passionate team works to improve the way people share their personal information. Innovative products, like the 321gocheck smartphone app, help people to prove who they are and confirm who other people are, online and in person. Our company has a fantastic modern office situated in central London with a vibrant and friendly atmosphere.</p>
			</div>
		</div>
	</div>
</div>
<div class="bread-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-6 col-xs-8">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">About Us</li>
				</ol>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-4">
			</div>
		</div>
	</div>
</div>
<div class="aboutus-secktion paddingTB60">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="strong">Relish every challenge every day</h1>
					<p class="lead">We’re on a mission to become the world’s trusted identity system. That means taking on complex challenges every day, which is why our team needs to be as ambitious as our mission is.
          Doing something the world hasn’t used yet requires talented people.

          So if you grin in the face of a challenge – read on.
           </p>
			</div>
			<div class="col-md-6">
      <img class="img-responsive" src="https://images.pexels.com/photos/3182812/pexels-photo-3182812.jpeg?cs=srgb&dl=photo-of-people-looking-on-laptop-3182812.jpg&fm=jpg">

			</div>
		</div>
	</div>
</div>
<div class="aboutus-secktion paddingTB60">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
      <img class="img-responsive" src="https://images.pexels.com/photos/3182754/pexels-photo-3182754.jpeg?cs=srgb&dl=photo-of-people-leaning-on-wooden-table-3182754.jpg&fm=jpg">

			</div>
			<div class="col-md-6">
				<h1 class="strong">Make Us available to anyone</h1>
					<p class="lead">It takes a diverse community of passionate, talented and committed people to build a simpler, more secure way of proving identity. We’re an equal opportunity employer, so we welcome applications from people of all backgrounds, with different outlooks and experiences.

          We oppose all types of unfair discrimination and harassment. All hiring decisions are based on business needs, job requirements and individual qualifications without regard to age, disability, sex, sexual orientation, race or religion.
          </p>
			</div>
		</div>
	</div>
</div>
<div class="aboutus-secktion paddingTB60">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="strong">Big problems require big thinkers</h1>
					<p class="lead">The Yoti technical team are shaping the future of digital identities, creating and exploring solutions at the cutting edge of technology.

          Our engineers and developers are also dab hands at Java 8, GoLang, Node, Swift, Micro-services, Cryptography, Vertx, SpringBoot, Kafka, Docker, Kubernetes, AWS and React.

          If this sounds like you – apply today.
          </p>  
			</div>
			<div class="col-md-6">
				      <img class="img-responsive" src="https://images.pexels.com/photos/3184652/pexels-photo-3184652.jpeg?cs=srgb&dl=photo-of-people-near-cork-board-3184652.jpg&fm=jpg">
			</div>
		</div>
	</div>
</div>
<div class="container">
  <div class="tp-wrapper" >
	<div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
		<div class="tp-box__side tp-box__front">
      <div class="shadow-xl">
        <span class="op"><u>Click here to view Open Positions</u></span>
        </div>

		</div>
		<div class="tp-box__side tp-box__back">
        <div class="shadow-xl">
            <div style="text-align:left;line-height:35px; margin-bottom:50px;">
              <small class="time">Posted 10 days ago</small><br>
              <small class="po">IT Manager</small><br>
              <small class="time">IT - London, England - Full Time</small>
                <hr style="  border-top: 1px dashed black;">
              <small class="time">Posted 10 days ago</small><br>
              <small class="po">Senior Product Designer</small><br>
              <small class="time">Design - London, England - Full Time</small>
            </div>
        </div>
		</div>
	</div>
</div>
</div>
<div style="height:100px;" >&nbsp;</div>